.movie{
  display: flex;
  justify-content: center;
  padding-top : 0.625rem;
  background-color: var(--primary-color);
}
.poster{
  width: 30rem;
}
.movie-poster{
  width:100%;
  height: 45.625rem;
  border-radius: 0.875rem;
}
.movie-description{
  font-family: 'Fira Sans Condensed', sans-serif;
  color:var(--secondary-color);
  padding:0rem 1rem;
  max-width: 43.125rem;
}
.movie-name{
  margin-bottom:0.5rem;
}
.movie-title{
  font-size: 1.8125rem;
  font-weight: bold;
}
.original-title{
  font-size: 1.125rem;
  margin-top: -0.1875rem;
  color:var(--extra-color)
}
.genres{
  display: flex;
}
.genres-list{
  display: flex;
  list-style: none;
  padding: 0;
}
.genre{
  padding: 0.5rem;
  margin: 0 0.25rem 0.5rem 0;
  font-size: 1.0625rem;
  background-color: var(--input-color);
  border-radius: 0.3125rem;
}
.genre:first-child{
  margin-left:0rem;
}
.overview,.runtime,.release-date{
  margin-bottom: 0.5rem;
}
.overview-block{
  font-size: 1.375rem;
}