.delete-cross-block{
  position: absolute;
  right:0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width:2.125rem;
  height: 2.125rem;
  background-color:#b6b6b6df;
  border-radius: 0.3125rem;
}
.delete-cross-block:hover{
  cursor: pointer;
  background-color: #ff4d4d;
}
.delete-cross-block:active{
  background-color: #ff0000;
}
.delete-cross{
  width: 1.5625rem;
  height: 1.5625rem;
}