.stars-container{
  display: flex;
  justify-content: center;
}
.stars{
  display: flex;
  width:25rem;
  justify-content: space-around;
  padding: 0.375rem;
}
.star{
  width:39px;
  height:39px;
}
.star:hover{
  cursor: pointer;
}