.header{
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0.125rem 1.25rem;
  color:var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 0 0.0625rem 0.125rem 0 #eeeeee;
}
.header-title{
  font-size: 2.75rem;
}
.theme-changer{
  display: flex;
  align-items: center;
  margin-right: 0rem!important;
}
.header-navbar{
  display: flex;
}
.header-navbar-item{
  display: flex;
  align-items: center;
  font-size: 1.4375rem;
  padding:0.0625rem 1.25rem;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
}
.header-navbar-item:hover{
  cursor: pointer;
  background-color: var(--input-color);
}
.theme-icon{
  font-size: 1.3125rem;
}
.theme-icon:hover{
  cursor: pointer;
}