.preloader-block{
  text-align: center;
}
.preloader{
  width: 10.25rem;
  height: 10.25rem;
}
.block-1{
  width: 50px;
  height: 50px;
  background-color: red;
}
.block-2{
  width: 10px;
  height: 10px;
}
.block-3{
  width: 25px;
  height: 25px;
  background-color: green;
}