.movie-preview{
  margin: 0.9375rem;
  position: relative;
  top:0px;
}
.preview-image {
  width: 250px;
  height: 375px;
  border-radius: 5px;
}
.preview-image:hover{
  cursor: pointer;
}
.movie-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100%;
}
.rating{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  width: 3.125rem;
  position: absolute;
  bottom: 0rem;
  border-radius: 0.3125rem
}
.rating-count{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  font-size: 1.25rem;
}
.star-icon{
  width: 1.1875rem;
  height:1.1875rem;
  padding: 0.1rem;
}
.info-message{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5rem;
  color:var(--secondary-color);
  text-align: center;
}