.movie-preview{
  margin: 0.9375rem;
  position: relative;
  top:0rem;
}
.preview-image {
  width: 15.625rem;
  height: 23.4375rem;
  border-radius: 0.3125rem;
}
.movie-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100%;
}
.rating{
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  width: 3.125rem;
  position: absolute;
  bottom: 0rem;
  border-radius: 0.3125rem
}
.rating-count{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  font-size: 1.25rem;
}
.star-icon{
  width: 1.1875rem;
  height:1.1875rem;
  padding: 0.1rem;
}
.info-message{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5rem;
  color:var(--secondary-color);
  text-align: center;
}