*{
  margin: 0;
  padding: 0;
  transition: background-color 0.33s;
}
html, body, #root, #root>div {
  height: 100%;
}
html{
  margin: auto;
}
html{
  --primary-color:#fff;
  --secondary-color:#000;
  --input-color:#eeeeee;
  --extra-color:#000000a1;
  --antd-wave-shadow-color : none!important
}
html[data-theme = dark]{
  --primary-color:#242729;
  --secondary-color:#fff;
  --extra-color:#ffffff99;
  --input-color:#4b4b4b;
}
#app,html{
  background-color: var(--primary-color);
}
body{
  font-family: 'Merriweather', serif!important;
}
button{
  animation: none;
}
.header-title,.theme-icon,.header-navbar-item,.star{
  user-select: none;
}